body {
	padding: 0;
	margin:0;
	font-family: helvetica !important;
	font-size: 14px;
	background-color: #2F2F2E;
}
h1,h2,h3,h4,h5,h6 {
	margin-top:0px;
	margin-bottom:0px;
    color: gray;
}
div.wrapper {
	margin: auto;
	background-color:white;
	overflow: hidden;
}
div.content {
	background-color:#ebf6fd !important;
}

div.center_content {
    margin:0 auto;
    width:960px;
}
div.header {
	background-color:#ebf6fd !important;
	overflow: hidden;
}
div.logo {
	margin-top: 12px; margin-left: 22px;
}
div.footer {
	background-color: #2F2F2E;
	height:100%;
}
div.menu_bar{	
	border-top: 2px solid #8B8979;
	height: 28px;
}
div.menu_bar ul{
	float: left;
    list-style-type: none;
    margin: 0;
	padding-top: 6px;
	padding-left: 20px;
}
div.menu_bar ul li {
	float: left;
    margin: 0;
    padding: 0;
	margin-left: 8px;
}
div.menu_bar ul li a{
	color: #f4f4f1;
	text-decoration: none;
	cursor: pointer;
}
div.user_info {
	float: right;
	padding: 4px;
	margin-top: -5px;
}
.text_login_input {
	width: 100px;
	font-family:helvetica;
	font-size:12px;
	color:gray;
	height:16px;
	border:1px solid #C4C2C2;
	margin-left: -4px;
	padding-left: 3px;
	background-color:#F9F6E8;
}
.submit_login {
	width:12px !important;
	border:1px solid #C4C2C2;
	float:right;
	 height: 20px;
	 width: 5px; padding-right: 12px; height: 20px; padding-left: 7px;
	 cursor:pointer;
	 font-weight:bold;
	 color:gray;
}
.login_wrapper{
	height:50px;
}
.user_info_options {
	height:25px;
}
.left_column {
	width:163px;
	float:left;
	min-height:400px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	overflow: hidden;
}

.middle_column {
	width:500px;
	float:left;
	min-height:400px;
	border-right:1px solid gray;
	border-left:1px solid gray;
	padding:10px;
}
.right_column {
	width:250px; 
	float:left;
	min-height:400px;
}
.input_login_selected{
	background-color:white;
}
div.box_header {
	background-color:#F3ECC5;
	margin:1px;
	padding:3px;
	color:#2F2F2E;
}
div.gBox {
	margin-top: 2px; margin-left: 2px; margin-right: 2px;
	overflow:hidden;
}
div.gBox .gBox_body {
	padding:2px;
}
div.gBox .form {
	font-weight:bold;
	font-size:12px;
}
div.form_row {
	margin-top:1px;
}
div.form_row label{
	display: inline-block;
	text-align:right;
	width: 78px;
}
div.form_row input {
	width: 135px; height: 13px;
	display: inline-block;
	border: 1px solid gray;
}
div.form_row input.submit_button {
	border:1px solid gray;
	height:20px;
	width:98px;
	cursor:pointer;
}
div.border_box1 {
	border: 3px solid #DBDBDB;
}

/** users last activitie **/


div.users_with_last_activity {
	width: 168px;
	margin-top: 2px; margin-left: 2px; margin-right: 2px;
	overflow:hidden;
}
div.user_profile_display_32x32 {
	width:32px;
	height:32px;
	border:1px solid gray;
	float:left;
	margin:3px;
}
div.user_profile_display_32x32 img {
	width:32px;
	height:32px;
}


div.upper_space {
	overflow:hidden;
}
div.lower_space {
	height: 150px;
}
/***
 * Singup bar
 */
 
div.singUp_bar {
	background-color:white;
	border-top:2px solid #8c8d8d;
	border-bottom:2px solid #8c8d8d;
	height:200px;
	
}
.label_blue {
	color:#3e96fa;
}
.label_white {
	color:white;
}
.label_gray {
    color: #b9b7ad;
}
input.singUp_input {
	border:2px solid #8c8d8d;
	height:25px;
	font-size: 16px;
	color:#5B5B5A;
	width: 160px;
}
 
div.singUp_row {
	overflow:hidden;	
	padding-top:10px;
}

div.singUp_label_wrapper {
	float:left;
	width:150px;
	text-align: right;
	padding-top: 7px;
}

div.singUp_label_wrapper label {
	margin-right: 6px;	
	font-weight:bold;
}

div.singUp_input_wrapper {
	float:left;
	width:150px;
	text-align: right;	
}
div.singUp_register_ajust {
	width:180px;
}
div.singup_socialbox {
	float:left;
	width: 732px;
	height:200px;
} 

div.singUp_loginbox {
	float:right;
	width: 316px;
	padding-top: 10px;
	margin-right: 20px;
}

.gray_button {
	float:right;
}
.gray_button input {
	background-color: #b9b7ad;
	overflow:hidden;
	border:1px solid #8c8d8d;
	cursor:pointer;
	color:white;
	font-weight: bold;
	font-size: 14px;
	height: 25px !important;
}
div.singup_container {
	min-width: 1082px;
}
.singup_profile_pic_column {
	width:72px;
	float:left;
}
.singUp_profile_pics {
	margin-top: 26px;
}
.singup_profile_pic {
	background-color:gray;
	height:64px;
	width:64px;
	margin:6px;
}

.singUp_registerbox {
	float:right;
	width: 350px;
	border-right:2px solid #8C8D8D;
	border-left:2px solid #8C8D8D;
	border-top:2px solid #8C8D8D;
	background-color:#3e96fa;
	margin-right: 8px;
}
.singUp_forgotten {
	float:right;
	width: 350px;
	border-right:2px solid #8C8D8D;
	border-left:2px solid #8C8D8D;
	border-bottom:2px solid #8C8D8D;
	background-color:#fefae3;
	margin-right: 8px;
}
.registerbox_title {
	text-align: right;
	padding-top: 5px; 
	padding-right: 10px;
}

.registerbox_title:hover h2{
	color:#B9B7AD;
	cursor:pointer;
}

.forgotten_title {
	text-align: right;
	padding-top: 7px; padding-right: 10px;
}

.forgotten_title h2 {
	color:#3e96fa;
}
.forgotten_title:hover h2{
	color:#B9B7AD;
	cursor:pointer;
}

.down_column {
	margin-top: 70px;
}
.up_column {
	margin-top: -70px;
}

.register_form_wrapper {
	height:0px;	
}
.forgotten_form_wrapper{
	overflow: hidden;
}
/** Stylish **/
div.left_column, div.middle_column, div.right_column{
	background-color: white;
}	


/**  Profile **/

div.user_profile_picture {
	padding:5px;
	overflow:hidden;
} 
div.user_profile_picture img {
	width:150px;
	border:1px solid gray;
	cursor:pointer;
}
div.user_profile_info {
	font-size:13px;
	margin-left:3px;
}
div.user_profile_info span {

}
div.user_profile_info span.label {
	color:gray;
	font-size:11px;
}

div.separator {
	height:1px;
	background-color: #CCC9C9;
	margin:3px;
	margin-top:5px;
	margin-bottom:5px;
}
div.user_profile_options{
	overflow: hidden;
}
div.user_profile_options ul{
		list-style: none;
	padding-top:0;
	padding-bottom:0;
	padding-left:0;
	margin-top:0;
	margin-bottom:0;
		
}
div.user_profile_options .option{
	margin-top:2px;
	float:left;
	margin-left: 4px;
}
div.user_profile_options .option span {
	cursor:pointer;
}
div.user_profile_options .option span:hover{
	margin-top:1px;
	text-decoration: underline;
}


div.share_text_field {
	border-left: 1px solid gray;
	border-top: 1px solid gray;
	border-right: 1px solid #CCC9C9;
	border-bottom: 1px solid #CCC9C9;
	overflow: hidden;
	margin-top: 5px;
	margin-bottom: 5px;
}
div.share_text_field input {
	width:100%;
	margin:1px;
	color:gray;
	font-size: 14px;
	border: 1px solid transparent;
	outline:none;
} 
.user_profile_share_something {
	overflow:hidden;
	background-color:#EAEAE8;
	border:1px solid gray;
	padding:5px;
}

.user_profile_options {
	border:1px solid gray;
	padding:4px;
	background-color:#EAEAE8;
}

div.user_profile_post_wrapper {
	overflow: hidden;
	padding:3px;
}
div.user_profile_post {
	border:1px solid #EAEAE8;
	overflow:hidden;
	padding:8px;
	margin-top:4px;
}
div.user_profile_post_picture {
	float:left;
	width:8%;
}
div.user_profile_post_content {
	float:left;
	width:92%;
	overflow:hidden;
}
div.user_profile_post_picture img{
	width:32px;
}
div.user_profile_post_content_name .remove_post{
	float:right;
	color:#CCC9C9;
	cursor:pointer;
}
div.user_profile_post_content_name .remove_post:hover{ 
	color:gray !important;
	text-decoration: underline;
	cursor:pointer;
}
div.user_profile_post_content_name {
	font-size:12px;
	font-weight:bold;
	margin-bottom:2px;
	overflow:hidden;
	color:#36C;
}
div.user_profile_post_content_name div.user_name {
	float:left;
	text-decoration: none;   
    color:#3e96fa;
}
div.user_profile_post_content_name div.user_name:hover{
	text-decoration: underline;
	cursor: pointer;   
    color:#3e96fa;
}
div.user_profile_post_content_comment {
 font-size:12px;	
}
div.user_profile_post_content_comment .action {
	background-color:#ebf6fd;
	border:1px solid #EAEAE8;
	margin-top:2px;
    padding:2px;		
}
.comment_area {
	padding:2px;
    padding-right: 8px;
	overflow:hidden;
}
.comment_area textarea{
	width:100%;
	height:15px;
	border:1px solid #CCC9C9;
}
div.action {
	overflow:hidden;
}
div.action .action_bar {
	background-color:#EAEAE8;
}
div.action span{
	margin-right:3px;
}
div.action .action_option{
	font-size: 12px;
	color:gray;
	cursor:pointer;
}
div.action .action_option:hover{
	cursor:pointer;
	font-size: 12px;
	color:black;
	text-decoration: underline;
}
div.user_profile_friends {
	margin-top:4px;
	margin-bottom:4px;
}
div.user_profile_friends .thumb_friend{
	 width:34px;
	 height:34px;
	 float: left;
	 border:1px solid gray;
	 margin-left:4px;
	 margin-bottom:4px;
	 background-color:#EAEAE8;
}
.user_profile_menu {
	overflow: hidden;
	background-color: #EAEAE8;
	border: 1px solid #8C8D8D;
	color: white;
	font-weight: bold;
	font-size: 14px;
	padding-top:0;
	padding-bottom:2px;;
}
.user_profile_menu_buttons {
	overflow:hidden;
}
.user_profile_menu_buttons ul{
	list-style: none;
	padding-top:0;
	padding-bottom:0;
	padding-left:0;
	margin-top:0;
	margin-bottom:0;
		
} 
.user_profile_menu_buttons li {
	float: left;
	margin-left:3px;
	margin-top:4px;
	margin-bottom:4px;
	font-size: 14px;
	font-weight:bold;
	background-color:#B9B7AD;
	border: 1px solid #8C8D8D;
	padding:2px;
	padding-left:4px;
	padding-right:4px;
	cursor: pointer;
}

.user_profile_menu_buttons li a {
    color:white;
    text-decoration: none;
}

.achivements {
 float:right !important;
 margin-right:3px;
 background-color:gray !important;	
}

.user_profile_cuenta {
	overflow: hidden;
	background-color: #EAEAE8;
	border-bottom: 1px solid #8C8D8D;
	border-top: 1px solid #8C8D8D;
	color: #2F2F2E;
	font-weight: bold;
	font-size: 14px;
	padding-top:0;
	
}
.user_profile_cuenta ul{
	list-style: none;
	padding-top:0;
	padding-bottom:0;
	padding-left:0;
	margin-top:0;
	margin-bottom:0;
	margin-left: 8px;
} 
.user_profile_cuenta li {
	float: left;
	margin-top:4px;
	margin-bottom:4px;
	font-size: 14px;
	font-weight:bold;
	padding-left:2px;
	padding-right:2px;
	cursor: pointer;
}

.separator {
	border-left: 1px solid #8C8D8D;
	height:18px;
}
.user_profile_logros {
	padding-left: 3px;
	overflow: hidden;
}
.lista_logros {
	float:left;
	overflow: hidden;
	margin-left: 9px;
}
.lista_logros ul{
	font-weight:normal;
	color:gray;
	list-style: none;
	padding-top:0;
	padding-bottom:0;
	padding-left:0;
	margin-top:0;
	margin-bottom:0;
}

.lista_logros .puntos_logrados {
	color:gray;
	font-size: 10px;
	color:white;
}
.span_round {
	background-color: gray;
	padding-left:2px;
	padding-right:2px;
	padding-bottom:1px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 10px;
	margin-top:-1px;
	margin-left:1px;
	color:white;
}
.title_span {
	background-color: #B9B7AD;
	padding-left:4px;
	padding-right:4px;
	padding-bottom:1px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 12px;
	margin-top:-1px;
	margin-left:3px;
	color:white;
	font-weight: bold;
}
.puntos_logrados {
	background-color: gray;
	padding-left:2px;
	padding-right:2px;
	padding-bottom:1px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-weight: bold;
}
.logros_score {
	float:left;
	text-align: right;
}
.logros_score .puntos_logrados {
	color:white !important;
}

div.top_message {
    overflow: hidden;
    background-color: #2F2F2E;
    color: white;
    padding: 10px;
    border-bottom: 3px solid #A7A7A7;
}

div.top_message_right {
    text-align: right;
}

div.bootstrap_user_thumbnail {
    border: 3px solid #eaeae8;
    color: black;
    margin: 2px;
    padding: 10px;
    float: left;
    width:80px;
    height:95px;
}

div.bootstrap_user_thumbnail img{
    border: 4px solid #eaeae8;
}

div.user_thumbnail_name {
    margin-top:4px;    
}

div.user_thumbnail_name a {
    text-decoration:none;
}
div.user_thumbnail_name a:hover {
    text-decoration:underline;
}

div.bootstrap_user_thumbnail .thumbnail {
    margin:0 auto;
}
div.user_profile_name {
    color:#808080;
    text-align: center;
}

div.form {
    
}
div.formlabel {
    width: 130px;
    text-align: right;
    float: left;
    overflow: hidden;
    padding:3px;
    color: gray;
}
div.forminput {
    float: left;
    padding:3px;
    overflow: hidden;
}
div.forminput input.input_text{
    border: 1px solid #CCC;
    color: gray;
    padding:4px;
    height:20px;
    width:200px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
div.formrow {
    overflow:hidden;
    padding:3px;
}

div.menu_user_profile_cuenta {
    width:960px;
    overflow: hidden;
    margin:0 auto;
    padding-left:5px;
    padding-top:2px;
    padding-bottom:2px;
    
}

div.user_profile_reference {
    float:left;
    margin-top:3px;
}

div.user_profile_reference a{
    text-decoration: none;   
    color:#3e96fa;
}

div.user_profile_reference a:visited{
    text-decoration: none;   
    color:#3e96fa;
}

div.logout_action a {
    color:#3e96fa;
}
div.logout_action a:hover {
    text-decoration: underline;
}

div.logout_action a:visited{
    text-decoration: none;
    color:#3e96fa;
}
.black_label {
    color:#eaeae8 !important;
}
span#logout_action {
    
    color:#3e96fa;
}

span#logout_action a{
    text-decoration: none;
}
span#logout_action a:visited{
    color:#3e96fa;
}

div#global_search {
    float:right; 
    border:1px solid gray;  
    background-color:white;
    overflow:hidden;
    height:21px;
}

div#global_search input {
    height:16px;
    border-color:transparent;
}
.menu_user_profile_options {
    float:right; 
}
.menu_user_profile_cuenta_right_options {
    list-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 9px;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 8px;
   float:right; 
}
.menu_user_profile_cuenta_right_options li{
    float: left;
margin-top: 4px;
margin-bottom: 4px;
font-size: 14px;
font-weight: bold;
padding-left: 2px;
padding-right: 2px;
cursor: pointer;
}

.menu_user_profile_cuenta_right_options li span {
    float:right;
    margin-top:5px;    
}
.menu_user_profile_cuenta_right_options li span a{
    text-decoration: none;
  
    color:#808080;
}
.menu_user_profile_cuenta_right_options li span a:visited{
    text-decoration: none;
    
    color:#808080;
}

.tooltip {
    display:none;
    background-color:#eaeae8;
    font-size:12px;
    overflow:hidden;
    height:70px;
    width:120px;
    padding:8px;
    border: 3px solid gray;  
}
.tooltip_title {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 2px;
    overflow: hidden;
    color: gray;
}

/** BOOTSTRAP **/
div.last_entries {
   color:white;
}    

div.entry {
   border:2px solid #eaeae8; 
   margin-top:3px;   
   padding-right:3px;
} 
div.entry .title {
    margin-left: 3px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: bold;
    background-color: #B9B7AD;
    border: 1px solid #8C8D8D;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
    
}

div.entry p{
    color:#3c3c3e;
}

div.activities .post {
    border:1px solid #B9B7AD;
}
