

ul.user_menu_list {
    list-style: none;
    padding:0;
}

ul.user_menu_list li {
    padding:3px;
    background-color:#eaeae8;
 
    border-top:1px solid #ccc;
}

ul.user_menu_list li a {
    text-decoration:none;
   
}
ul.user_menu_list li a:visited {
    color:#3e96fa;;
    
}

div.user_profile_post_content_comment p{
    padding:5px;
    margin:0;
    font-size:12px;
    color: #3c3c3e;
}

#entry_box_textarea {
    display:none;
    width: 100%;
    border: 1px solid transparent;
    color: #2F2F2E;
    font-size: 14px;
    margin: 1px;
    outline: medium none;
    height:17px;
}
#user_profile_post {
    display:none;
}
#entry_box_loader_indicator {
    display: none;
}
form#entry_box_form {
   margin:0; 
}
div#read_more_posts {
   margin-top:2px;
   padding-top:5px;
   padding-bottom:5px;
   padding-left:10px; 
   background-color: #B9B7AD;
   border: 1px solid #8C8D8D;
   color: white;
   cursor: pointer;
   font-size: 14px;
   font-weight: bold;
}
div#dragdropfile {
    margin:5px;
    height:200px;
    border: 5px dotted #eaeae8;
    color:gray;
    vertical-align:middle;
}
div.add_friend_middle {
    padding:4px;
    background-color: #B9B7AD;
    border: 1px solid gray;   
    color: white;
    font-weight:bold;
    cursor:pointer;
}
div.add_friend_middle a {
    text-decoration:none;
    color:white;
}
div.friend_request_box {
   padding: 4px;   
   overflow: hidden;
   border: 1px solid gray;
   margin: 2px;
}

div.friend_request_box_item {
    padding:2px;
}

div.comment_wrapper {
    margin:10px;
}
div.comment_item {
    background-color: #EBF6FD;
    border-top: 1px solid #F9F9F7;
    border-bottom: 1px solid #EAEAE8;
    padding: 3px;
    padding-left: 3px;
    padding-right: 3px;
    overflow: hidden;
}

div.user_profile_comment {
    float:left;
    padding-left:3px;
    width:375px;
    font-weight:bold;
}
div.user_comment {
    float:left;
    padding-left:3px;
    width:375px;
}
